@import url("https://cdn.syncfusion.com/ej2/material.css");

.barGraph_container{
    width: 95%;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
}
.barGraph_menuTop{
    width: 90%;
    margin: 1% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date_picker{
    width: 30%;
}
.barGraph_main{
    height:70vh ;
}