* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.np_container {
  width: 95%;
  margin: 1% auto;
}
.np_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.np_left {
}
.np_right {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-evenly;
}
.np_right a {
  text-decoration: none;
}

.np_right_search {
  display: flex;
  align-items: center;
}
.np_mainwrap {
  text-align: left;
  margin: 2% 0%;
}

@media only screen and (min-width: 900px) and (max-width: 1228px) {
  .np_container {
    width: 95%;
    margin: 1% auto;
  }
  .np_header {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 2% auto;
    justify-content: space-between;
    align-items: flex-start;
  }
  .np_right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 2% 0%;
  }
  .np_right_search {
    margin: 2% 0%;
  }
  .np_mainwrap {
    width: 100%;
    margin: auto;
  }
}
@media only screen and (max-width: 900px) {
  .np_container {
    width: 95%;
    margin: 1% auto;
  }
  .np_header {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 2% auto;
    justify-content: space-between;
    align-items: flex-start;
  }
  .np_right {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 2% 0%;
  }
  .np_right_search {
    margin: 2% 0%;
  }
  .np_mainwrap {
    width: 100%;
    margin: auto;
  }
}
